@-moz-document domain("materialui.co") {
  .material_color_sidead,
  .other_color_sidead {
    display: none !important;
  }

  .container {
    background-color: var(--Dark_BackgroundColor) !important;
  }

  .footer {
    background: transparent !important;
  }

  .content {
    background-color: var(--Dark_BackgroundColor) !important;
  }

  .header.half {
    filter: invert(1) !important;
  }

  .layout__aside,
  .layout__footer {
    filter: invert(1) !important;
  }
}
